


<header>

    <div class="e-header-benifts">
        <p>Conheça os melhores sabores de todas as essências do mundo. </p>
    </div>

    <div class="e-header-main">

        <h1>Hookah Flavor<span>.com</span></h1>

        <div class="main-search">
            <input type="text" placeholder="Oque você está procurando?">
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>

        <div class="main-actions">
            <a href="/"><i class="fa-solid fa-user"></i></a>
            <a href="/"><i class="fa-solid fa-house"></i></a>
            <a href="/"><i class="fa-solid fa-truck-fast"></i></a>
            <a href="/"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
    </div>

    <div class="e-header-nav">
        <nav>
            <ul class="menu">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/">Flavors</a>
                </li>
                <li>
                    <a href="/posts">Posts</a>
                </li>
                <li>
                    <a href="/about">About</a>
                </li>
            </ul>
        </nav>
    </div>

</header>